# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and ecosystems are summarized.

**Objectives:**

* List Languages for Data Science
* List libraries used in Data Science
* Evaluated arithmetic expressions in Python

Some of the popular languages that Data Scientists use are :

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:


* Pandas
* Numpy
* sk-learn

| Data Science Tools |
| --- | 
| RStudio |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples if evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Michael Haldeman